<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="HOT_KEY_INDEX_CAPT_ONE" value="10" />
    <add key="HOT_KEY_INDEX_CAPT_ONE_SNS" value="0" />
    <add key="HOT_KEY_INDEX_CAPT" value="0" />
    <add key="HOT_KEY_INDEX_OVERLAY" value="11" />
    <add key="HOT_KEY_INDEX_ROTATE" value="0" />
    <add key="HOT_MASK_INDEX_CAPT_ONE" value="0" />
    <add key="HOT_MASK_INDEX_CAPT_ONE_SNS" value="0" />
    <add key="HOT_MASK_INDEX_CAPT" value="0" />
    <add key="HOT_MASK_INDEX_OVERLAY" value="0" />
    <add key="HOT_MASK_INDEX_ROTATE" value="0" />
    <add key="KIND_JOY_STICK" value="1" />
    <add key="JOY_STICK_MOD_BUTTON_CAPT_ONE" value="0" />
    <add key="JOY_STICK_MOD_BUTTON_CAPT_ONE_SNS" value="0" />
    <add key="JOY_STICK_MOD_BUTTON_CAPT" value="0" />
    <add key="JOY_STICK_MOD_BUTTON_VIEW_OVERLAY" value="0" />
    <add key="JOY_STICK_MOD_BUTTON_VIEW_ROTATE" value="0" />
    <add key="USE_JOYSTICK_BUTTON_CAPT_ONE" value="13" />
    <add key="USE_JOYSTICK_BUTTON_CAPT_ONE_SNS" value="0" />
    <add key="USE_JOYSTICK_BUTTON_CAPT" value="0" />
    <add key="USE_JOYSTICK_BUTTON_OVERLAY" value="10" />
    <add key="USE_JOYSTICK_BUTTON_ROTATE" value="0" />
    <add key="PATH_SAVE" value="" />
    <add key="PATH_SAVE_FOLDER_NAME" value="\YYYY\MM\DD" />
    <add key="PATH_SAVE_FILE_NAME" value="IMG_\INDEX" />
    <add key="IMAGE_FORMAT" value="2" />
    <add key="ADD_COPYRIGHT" value="0" />
    <add key="IMAGE_INDEX" value="1" />
    <add key="SOUND_CAPTURE" value="1" />
    <add key="COUNT_CAPTURE" value="5" />
    <add key="TIMER_CAPTURE" value="0" />
    <add key="INTERVAL_CAPTURE" value="100" />
    <add key="SEND_KEY_INDEX" value="0" />
    <add key="INTERVAL_SEND_KEY" value="50" />
    <add key="OVERLAY_SHORTCUT" value="1" />
    <add key="OVERLAY_COMPOSITION" value="1" />
    <add key="OVERLAY_CAPT_PARAM" value="1" />
    <add key="OVERLAY_HISTOGRAM" value="0" />
    <add key="OVERLAY_THUMBNAIL" value="1" />
    <add key="OVERLAY_SHORTCUT_ALIGNMENT" value="1" />
    <add key="OVERLAY_CAPT_PARAM_ALIGNMENT" value="1" />
    <add key="OVERLAY_HISTOGRAM_ALIGNMENT" value="0" />
    <add key="OVERLAY_THUMBNAIL_ALIGNMENT" value="3" />
    <add key="OVERLAY_COMPOSITION_TYPE" value="1" />
    <add key="ROTATE_POSITION_X" value="0" />
    <add key="ROTATE_POSITION_Y" value="0" />
    <add key="ROTATE_SIZE_W" value="540" />
    <add key="ROTATE_SIZE_H" value="960" />
    <add key="ROTATE_BUTTON_SIZE" value="96" />
    <add key="ROTATE_BUTTON_SENSITIVITY" value="30" />
    <add key="LIGHT_ROTATE_LR_KEY" value="0" />
    <add key="LIGHT_ROTATE_LR_MS" value="400" />
    <add key="LIGHT_DISTANCE_KEY" value="1" />
    <add key="LIGHT_DISTANCE_MS" value="1000" />
    <add key="LIGHT_ROTATE_UD_KEY" value="0" />
    <add key="LIGHT_ROTATE_UD_MS" value="0" />
    <add key="PATH_LOGO_FILE" value="" />
  </appSettings>
</configuration>